body {
  background-color: white;
}

#logo {
  margin-bottom: 30px;
}

#search-panel {
    padding: 10px;
}

.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin-heading {
  font-size: 20px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.glyphicon {
  top: 0px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin #password-forgotten {
  margin-top: 2px;
  margin-right: 5px;
  float: right;
  font-size: 12px;
}

.form-signin .btn {
  margin-top: 15px;
}

.text-right {
  text-align: right;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-top: 20px;
}

.bloc-profil {
  height:500px;
}

.film-label {
    position: absolute;
    top: 75%;
    right: 2%;
    border: 1px solid #555;
}

.panel {
    padding-top: 15px;
}


/**************** Media Queries ****************/
@media (max-width: 992px) {
  #search-block, #search-panel div {
    margin-bottom: 10px;
  }
}

